@-moz-keyframes §192
{ from { background-position: 0; } to { background-position: -192px; } }
@-ms-keyframes §192
{ from { background-position: 0; } to { background-position: -192px; } }
@-o-keyframes §192
{ from { background-position: 0; } to { background-position: -192px; } }
@-webkit-keyframes §192
{ from { background-position: 0; } to { background-position: -192px; } }
@keyframes §192
{ from { background-position: 0; } to { background-position: -192px; } }

@-moz-keyframes §384
{ from { background-position: 0; } to { background-position: -384px; } }
@-ms-keyframes §384
{ from { background-position: 0; } to { background-position: -384px; } }
@-o-keyframes §384
{ from { background-position: 0; } to { background-position: -384px; } }
@-webkit-keyframes §384
{ from { background-position: 0; } to { background-position: -384px; } }
@keyframes §384
{ from { background-position: 0; } to { background-position: -384px; } }

@-moz-keyframes §768
{ from { background-position: 0; } to { background-position: -768px; } }
@-ms-keyframes §768
{ from { background-position: 0; } to { background-position: -768px; } }
@-o-keyframes §768
{ from { background-position: 0; } to { background-position: -768px; } }
@-webkit-keyframes §768
{ from { background-position: 0; } to { background-position: -768px; } }
@keyframes §768
{ from { background-position: 0; } to { background-position: -768px; } }

body {
	-moz-transition-duration: 0.5s;
	-moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 		/* ease out cubic */
	-ms-transition-duration: 0.5s;
	-ms-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 		/* ease out cubic */
	-o-transition-duration: 0.5s;
	-o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 		/* ease out cubic */
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 	/* ease out cubic */

	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 1em !important;
	padding: 0;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 		/* ease out cubic */
}

.ui-icon-loader-16 {
	background-image: url("../images/loader16.png") !important;
	background-position: 0 0;
	-moz-animation: §192 1s steps(12) infinite;
	-ms-animation: §192 1s steps(12) infinite;
	-o-animation: §192 1s steps(12) infinite;
	-webkit-animation: §192 1s steps(12) infinite;
	animation: §192 1s steps(12) infinite;
}

.ui-icon-loader-32 {
	background-image: url("../images/loader32.png") !important;
	background-position: 0 0 !important;
	-moz-animation: §384 1s steps(12) infinite;
	-ms-animation: §384 1s steps(12) infinite;
	-o-animation: §384 1s steps(12) infinite;
	-webkit-animation: §384 1s steps(12) infinite;
	animation: §384 1s steps(12) infinite;
}

.ui-icon-loader-64 {
	background-image: url("../images/loader64.png") !important;
	background-position: 0 0 !important;
	-moz-animation: §768 1s steps(12) infinite;
	-ms-animation: §768 1s steps(12) infinite;
	-o-animation: §768 1s steps(12) infinite;
	-webkit-animation: §768 1s steps(12) infinite;
	animation: §768 1s steps(12) infinite;
}

.ui-dialog .loaderDialog {
	text-align: center;
	overflow: hidden;
}

.loaderDialog .loadingProgress {
	width: 100%;
	height: 1em;
}

.loaderDialog .loadingProgress.animated .ui-progressbar-value {
	-moz-transition: width 0.1s ease-in-out;
	-ms-transition: width 0.1s ease-in-out;
	-o-transition: width 0.1s ease-in-out;
	-webkit-transition: width 0.1s ease-in-out;
	transition-property: width 0.1s ease-in-out;
}

.loaderDialog .loadingMessage {
	font-size: 50%;
	margin: 1em 3em 0;
}

.loaderDialog .loadingCancelButton {
	display: none;
	font-size: 50%;
	margin-top: 1em;
}

.dialog {
	display: none;
	/* margin: 1em; */
}

.ui-dialog.promptDialog input {
	margin-top: 0.25em;
	width: 100%;
}

.ui-dialog.alertDialog .ui-dialog-content,
.ui-dialog.confirmDialog .ui-dialog-content {
	max-height: 20em !important;
	overflow: auto;
}

.centerButtons .ui-dialog-buttonpane {
	text-align: center;
}

.centerButtons .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: none;
}

.no-title .ui-dialog-titlebar,
.no-close .ui-dialog-titlebar-close {
	display: none;
}

.toast {
	opacity: 0.75;
	pointer-events: none;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 10000;
}

.toast .toastContent {
	cursor: pointer;
	display: inline-block;
	font-size: 75%;
	padding: 0.5em;
	pointer-events: auto;
	word-break: break-word;
}

@media all and (min-width: 920px) {
	body.large-on-large-screens {
		font-size: 1.5em !important;
	}
}
