.header {
	display: flex;
	align-items: center;
	padding: 1rem;
}

.header > * {
	display: flex;
	flex: 1;
}

.header .ui-button {
	white-space: nowrap;
}

.header > *:first-child > * {
	margin-right: auto;
}

.header > *:last-child  > * {
	margin-left: auto;
}

.header .centered {
	justify-content: center;
}

.email {
	display: none;
	font-size: small !important;
}

.refresh {
	display: none;
	font-size: smaller !important;
}

.no-link {
	display: none;
}

#list ul {
	list-style-type: disclosure-closed;
	margin: 1rem 0 0;
	padding-left: 1.5rem;
}

.header .ui-button > .ui-button-icon-space,
.header .ui-button > *:last-child {
	display: none;
}

.header .centered {
	flex: 0;
}

@media all and (min-width: 560px) {
	.header .ui-button > .ui-button-icon-space,
	.header .ui-button > *:last-child {
		display: inline-block;
	}

	.header .centered {
		flex: 1;
	}
}

@media all and (min-width: 920px) {
	#list ul {
		padding-left: 2.5rem;
	}
}

#list li {
	border-top: 1px solid silver;
	margin-right: 1rem;
	padding: 0.5rem 0;
}

#list li:first-of-type {
	border-top-width: 0;
	padding-top: 0;
}

#list li:last-of-type {
	padding-bottom: 0;
}

#list .row {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}

#list .row.title {
	flex-direction: column;
	flex-wrap: nowrap;
}

#list .title-row {
	align-self: normal;
	display: flex;
}

#list .favicon {
	height: 2rem;
	margin-right: 0.25rem;
	object-fit: scale-down;
	width: 2rem;
}

#list .date {
	font-size: small;
}

#list .link {
	font-size: smaller;
	margin: 0 0.25rem 0.25rem 0;
	word-break: break-word;
}

#list .category,
#list .buttons {
	margin-left: auto;
	font-size: small;
}

#list .buttons {
	display: flex;
}

#list .category {
	align-self: start;
	cursor: pointer;
	border-radius: 0.25rem;
	padding: 0.25rem;
	opacity: 0.5;
}

.row.centered {
	padding: 1rem;
	text-align: center;
}

.loginDialog {
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.loginDialog .centered {
	text-align: center;
}

.loginDialog input[type=email],
.loginDialog input[type=password],
.loginDialog input[type=text] {
	box-sizing: border-box;
	border-width: 1px !important;
	margin: .2rem 15%;
	width: 70%;
}
