* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	background-color: whitesmoke;
	margin: 0 !important;

	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-flex;
	display: flex;

	-ms-align-items: center;
	-moz-align-items: center;
	-o-align-items: center;
	-webkit-align-items: center;
	align-items: center;

	-ms-justify-content: center;
	-moz-justify-content: center;
	-o-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;
}

button {
	user-select: none;
}

button:focus {
	outline: 0 solid transparent;
}

.scaler {
	position: relative;
}

.board {
	background-color: rgba(34, 34, 139, 0.15);
	border-radius: 0.5em;
	box-shadow: 0 0 0.5em;
	color: rgba(34, 139, 34, 0.15);
}

.scaler .level-container {
	align-items: center;
	bottom: 0;
	display: flex;
	left: 0;
	justify-content: center;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}

.scaler .level {
	background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), white 100%);
	text-shadow: 0px 0px 1em rgba(128, 128, 128, 1);
	user-select: none;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.hidden,
.hidden * {
	opacity: 0 !important;
	pointer-events: none !important;
}

.message {
	background-color: silver;
	border: 1px solid darkslateBlue;
	border-radius: 1em;
	box-shadow: 0 0 .5em blueViolet;
	cursor: pointer;
	padding: 1em;
	position: fixed;
	text-align: center;
	text-shadow: 0 0 .5em rgba(128, 43, 226, 0.75);
	width: 30em;
	z-index: 9999;
}

.message.compatible {
	margin-left: 5%;
	top: 8em;
}

.backdrop {
	background-color: black;
	bottom: 0;
	left: 0;
	opacity: 0.35;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9998;
}

.status {
	background-color: white;
	border: 1px solid silver;
	border-radius: 1em;
	box-shadow: .1em .1em .1em;
	font-size: 80%;
	/* min-width: 7.5em; */
	opacity: 0.75;
	padding: 0.35em;
	pointer-events: none;
	right: 0.35em;
	position: fixed;
	text-align: center;
	top: 0.25em;
	width: 9em;
	z-index: 9997;
}

.status button,
.message button {
	border: 1px solid silver;
	border-radius: 0.25em;
	cursor: pointer;
	margin: 0.25em 0;
	padding: 0.5em;
	pointer-events: initial;
	text-shadow: 0 0 .1em rgba(128, 43, 226, 0.75);
}

.status button {
	width: 100%;
}

.no-bomb .bombs {
	display: none;
}

button.bombs {
	background-image: url("../images/bomb.png");
	background-repeat: no-repeat;
	height: 4em;
	width: 4em;
	background-size: 100%;
}

button.bombs.active {
	background-color: rgba(0, 0, 0, 0.25);
	border-style: inset;
	font-weight: bold;
}

.message button {
	margin-top: 1em;
	width: 7em;
}

.message ul {
    list-style-type: none;
    margin: 0 auto;
	text-align: left;
    width: 75%;
}

.message ul li {
	margin: 0.5em 0;
}

.tile {
	align-items: center;
	/* border: 1px solid rgba(0, 0, 0, 0.15); */
	border-style: solid;
	border-width: 1px;
	color: transparent;
	cursor: pointer;
	display: flex;
	justify-content: center;
	position: absolute;
	user-select: none;

	width: 80px;
	height: 80px;
}

.tile.pressed {
	/* border-style: inset; */
	border-width: 0px;
	color: rgba(0, 0, 0, 0.5);
}

.tile.last {
	border: ridge 0.35em rgba(255, 0, 0, 0.5);
}

.palette-0 .tile.color-1 { background-color: deepSkyBlue	;	background-image: linear-gradient(to bottom right, deepSkyBlue		, white 200%); }
.palette-0 .tile.color-2 { background-color: crimson		;	background-image: linear-gradient(to bottom right, crimson			, white 200%); }
.palette-0 .tile.color-3 { background-color: greenYellow	; 	background-image: linear-gradient(to bottom right, greenYellow		, white 200%); }
.palette-0 .tile.color-4 { background-color: goldenRod		; 	background-image: linear-gradient(to bottom right, goldenRod		, white 200%); }
.palette-0 .tile.color-5 { background-color: hotPink		;	background-image: linear-gradient(to bottom right, hotPink			, white 200%); }

.palette-1 .tile.color-1 { background-color: #768FEB		;	background-image: linear-gradient(to bottom right, #768FEB			, white 200%); }
.palette-1 .tile.color-2 { background-color: #46004F		;	background-image: linear-gradient(to bottom right, #46004F			, white 200%); }
.palette-1 .tile.color-3 { background-color: #8BB70D		;	background-image: linear-gradient(to bottom right, #8BB70D			, white 200%); }
.palette-1 .tile.color-4 { background-color: #D9CF76		;	background-image: linear-gradient(to bottom right, #D9CF76			, white 200%); }
.palette-1 .tile.color-5 { background-color: #AB6191		;	background-image: linear-gradient(to bottom right, #AB6191			, white 200%); }

.palette-2 .tile.color-1 { background-color: #6151EE		;	background-image: linear-gradient(to bottom right, #6151EE			, white 200%); }
.palette-2 .tile.color-2 { background-color: #481B59		;	background-image: linear-gradient(to bottom right, #481B59			, white 200%); }
.palette-2 .tile.color-3 { background-color: #8EAC98		;	background-image: linear-gradient(to bottom right, #8EAC98			, white 200%); }
.palette-2 .tile.color-4 { background-color: #B3850D		;	background-image: linear-gradient(to bottom right, #B3850D			, white 200%); }
.palette-2 .tile.color-5 { background-color: #FA65CE		;	background-image: linear-gradient(to bottom right, #FA65CE			, white 200%); }

/* .tile.adjusted { color: rgba(0, 0, 0, 0.25) !important; } */

.boss {
	background-color: white;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	user-select: none;
	z-index: 999999;
}

.version {
	bottom: 0.5em;
	font-size: 65%;
	opacity: 0.35;
	pointer-events: none;
	position: fixed;
	right: 0.5em;
	user-select: none;
	z-index: -1;
}

@media (max-width: 36em), (max-height: 24em) {
	.status br {
		display: none;
	}

	.status button {
		background-position: center;
		background-repeat: no-repeat;
		color: transparent;
		margin: 2px;
		height: 36px;
		overflow: hidden;
		text-shadow: none;
		width: 36px;
	}

	.status button.bombs {
		color: initial;
		height: 4em;
		width: 4em;
	}

	.status button.newGame { background-image: url("../images/new.png"); }

	.status button.hint { background-image: url("../images/hint.png"); }

	.status button.undo { background-image: url("../images/undo.png"); }

	.status button.askRestart { background-image: url("../images/restart.png"); }

	.status button.map { background-image: url("../images/map.png"); }
}

.animate .fade {
	ms-transition: opacity 0.1s;
	moz-transition: opacity 0.1s;
	o-transition: opacity 0.1s;
	webkit-transition: opacity 0.1s;
	transition: opacity 0.1s;
}

.animate .move {
	ms-transition: left 0.2s, top 0.2s;
	moz-transition: left 0.2s, top 0.2s;
	o-transition: left 0.2s, top 0.2s;
	webkit-transition: left 0.2s, top 0.2s;
	transition: left 0.2s, top 0.2s;
}

.animate .fade.move {
	ms-transition: opacity 0.1s, left 0.2s, top 0.2s;
	moz-transition: opacity 0.1s, left 0.2s, top 0.2s;
	o-transition: opacity 0.1s, left 0.2s, top 0.2s;
	webkit-transition: opacity 0.1s, left 0.2s, top 0.2s;
	transition: opacity 0.1s, left 0.2s, top 0.2s;
}

@media (min-width: 56em), (min-height: 36em) {
	body {
		--screen: "large";
	}

	.fade {
		ms-transition: opacity 0.1s;
		moz-transition: opacity 0.1s;
		o-transition: opacity 0.1s;
		webkit-transition: opacity 0.1s;
		transition: opacity 0.1s;
	}

	.move {
		ms-transition: left 0.2s, top 0.2s;
		moz-transition: left 0.2s, top 0.2s;
		o-transition: left 0.2s, top 0.2s;
		webkit-transition: left 0.2s, top 0.2s;
		transition: left 0.2s, top 0.2s;
	}

	.fade.move {
		ms-transition: opacity 0.1s, left 0.2s, top 0.2s;
		moz-transition: opacity 0.1s, left 0.2s, top 0.2s;
		o-transition: opacity 0.1s, left 0.2s, top 0.2s;
		webkit-transition: opacity 0.1s, left 0.2s, top 0.2s;
		transition: opacity 0.1s, left 0.2s, top 0.2s;
	}
}
